body {
  font-family: 'Alatsi', sans-serif;
  margin: 0;
  overflow: hidden;
  background: black;
  color: white;
}

ul {
  list-style-type: none;
  display: flex;
}

ul li {
  padding: 0.7vw 0.7vw;
  margin: 0.5vw 1vw;
  font-size: 1.5rem;
  user-select: none;
  
}

.selected {
  padding: 0.6vw 0.6vw;
  text-decoration: underline;
  text-underline-offset: 0.2vw;
  border: solid rgb(255, 255, 255) 2px;
  pointer-events: none;
}

.unselected:hover {
  text-underline-offset: 4px;
  animation: underlinenav 1.5s ease forwards;
  cursor: pointer;
}

@keyframes underlinenav {
  from {
    text-decoration: transparent;
  } to {
    text-decoration: underline;
  }
}

#nav {
  position: absolute;
  right: 0;
  display: none;
}

@media (max-width : 760px) {
  #nav {
    width: 100%;
    left: 0;
  }
  ul {
    justify-content: space-evenly;
  }
  ul li {
    font-size: 1rem;
  }
}

.title {
  color: rgb(223, 223, 223);
}

canvas {
  width: 100%;
}


