body {
  font-family: 'Alatsi', sans-serif;
  margin: 0;
  overflow: hidden;
  background: black;
  color: white;
}

ul {
  list-style-type: none;
  display: flex;
}

ul li {
  padding: 0.5vw 0.5vw;
  margin: 0.5vw 1vw;
  font-size: 1.7vw;
  user-select: none;
}

.selected {
  padding: 0.4vw 0.4vw;
  text-decoration: underline;
  text-underline-offset: 4px;
  border: solid rgb(255, 255, 255) 2px;
  pointer-events: none;
}

.unselected:hover {
  text-underline-offset: 4px;
  animation: underlinenav 1.5s ease forwards;
  cursor: pointer;
}

@keyframes underlinenav {
  from {
    text-decoration: transparent;
  } to {
    text-decoration: underline;
  }
}

#nav {
  position: absolute;
  right: 0;
  display: none;
}
  
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.title {
  
  color: rgb(223, 223, 223);
}

canvas {
  width: 100%;
}

#logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: fill 0.8s ease forwards 4s;
  display: block;
}

#logo path:nth-child(1) {
  stroke-dasharray: 296.9px;
  stroke-dashoffset: 296.9px;
  animation: animation 2s ease-in-out forwards;
}

#logo path:nth-child(2) {
  stroke-dasharray: 272px;
  stroke-dashoffset: 272px;
  animation: animation 2s ease-in-out forwards 0.2s;
}

#logo path:nth-child(3) {
  stroke-dasharray: 252px;
  stroke-dashoffset: 252px;
  animation: animation 2s ease-in-out forwards 0.4s;
}

#logo path:nth-child(4) {
  stroke-dasharray: 257.7px;
  stroke-dashoffset: 257.7px;
  animation: animation 2s ease-in-out forwards 0.6s;
} 

#logo path:nth-child(5) {
  stroke-dasharray: 165px;
  stroke-dashoffset: 165px;
  animation: animation 2s ease-in-out forwards 0.8s;
}

#logo path:nth-child(6) {
  stroke-dasharray: 274.4px;
  stroke-dashoffset: 274.4px;
  animation: animation 2s ease-in-out forwards 1.0s;
}

#logo path:nth-child(7) {
  stroke-dasharray: 187px;
  stroke-dashoffset: 187px;
  animation: animation 2s ease-in-out forwards 1.2s;
}

#logo path:nth-child(8) {
  stroke-dasharray: 305px;
  stroke-dashoffset: 305px;
  animation: animation 2s ease-in-out forwards 1.4s;
}

#logo path:nth-child(9) {
  stroke-dasharray: 257.7px;
  stroke-dashoffset: 257.7px;
  animation: animation 2s ease-in-out forwards 1.6s;
}

#logo path:nth-child(10) {
  stroke-dasharray: 272px;
  stroke-dashoffset: 272px;
  animation: animation 2s ease-in-out forwards 1.8s;
}

#logo path:nth-child(11) {
  stroke-dasharray: 419.4px;
  stroke-dashoffset: 419.4px;
  animation: animation 2s ease-in-out forwards 2.0s;
}

@keyframes animation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent
  } to {
    fill: white;
  }
}
